@charset "utf-8";

/**
 * Author: Taigo Ito
 * Author URI: https://qwel.design/
 */

// Foundation
@import "foundation/settings/colorSystem";
@import "foundation/settings/gridSystem";
@import "foundation/settings/typography";
@import "foundation/mixins/background";
@import "foundation/mixins/button";
@import "foundation/mixins/form";
@import "foundation/mixins/grid";
@import "foundation/mixins/table";
@import "foundation/mixins/type";
@import "foundation/base";

.wrapper {
  width: 100%;
  padding: 1.5rem 0;
}

.container {
  @include container();
  border: 1.5rem solid themeColor("light");
  border-radius: 4.5rem;
  background: linear-gradient(-45deg, themeColor("primary-light"), themeColor("lightest"), themeColor("primary-light"));
}

.title {
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0 2px 6px themeColor("primary-dark");

  &:not(.--left) {
    text-align: center;
  }
}

.subMenu {
  @include row(center);

  &__item a {
    @include button();
    display: block;
    width: 9rem;
    margin: 0 .75rem;
    padding: .25rem 1rem;
    border-radius: 6px;
    background: linear-gradient(themeColor("primary"), themeColor("primary-dark"));
    @include smallText();
    box-shadow: 1px 2px 6px themeColor("darkest");
    opacity: .85;

    &:hover {
      opacity: 1;
    }
  }
}

.backBtn { 
  @include button();
  display: block;
  width: 9rem;
  height: 2.25rem;
  border-radius: 6px;
  background: linear-gradient(themeColor("primary"), themeColor("primary-dark"));
  line-height: 1.25;
  box-shadow: 1px 2px 6px themeColor("darkest");
  opacity: .85;

  &:hover {
    opacity: 1;
  }
}

.main {
  @include row();
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

.nav {
  @include col();
  @include col("lg", 4);
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &__menuItem a {
    @include button();
    display: block;
    width: 85%;
    border-radius: 6px;
    background: linear-gradient(themeColor("primary"), themeColor("primary-dark"));
    box-shadow: 1px 2px 6px themeColor("darkest");
    opacity: .85;

    &:hover {
      opacity: 1;
    }
  }
}

.schedule {
  @include col();
  @include col("lg", 8);
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &__header {
    text-align: center;
  }

  &__caption {
    display: inline-block;
    font-size: 1rem; 
  }

  &__main {
    margin-bottom: 1.5rem;
  }

  &__menu {
    @include row();
  }

  &__menuItem {
    @include col("lg", 6);
    
    a {
      @include button();
      display: block;
      width: 85%;
      border-radius: 6px;
      background: linear-gradient(themeColor("secondary"), themeColor("secondary-dark"));
      box-shadow: 1px 2px 6px themeColor("darkest");
      opacity: .85;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.control {
  display: inline-block;

  @at-root .--calendar & {
    display: block;
    width: 100%;
    text-align: right;
  }

  .select, .mode {
    display: inline-block;
    margin: 0 .75rem;

  }
}

.calendar {
  width: 100%;
  padding-top: .75rem;
  background: radial-gradient(rgba(themeColor('primary-light'), .3), rgba(themeColor('lightest'), .3));

  &.--editMode {
    background: rgba(128, 255, 128, .3);
  }

  &__control {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: .75rem;
  }

  &__prev, &__next {
    display: block;
    width: 4.5rem;
    @include smallText();
    text-align: center;
  }

  &__viewWrap {
    width: 100%;
    min-height: 30rem;
    padding: 0 1.5rem;
    overflow-x: scroll;
  }

  &__view {
    margin: 0 auto 1.5rem;

    tr {
      border-bottom: 1px solid themeColor("dark");

      &:first-child {
        border-top: 1px solid themeColor("dark");
      }
    }

    th, td {
      border-right: 1px solid themeColor("dark");
      text-align: center;

      &:first-child {
        border-left: 1px solid themeColor("dark");
      }
    }

    td {
      &[data-state="1"] {
        background: rgba(255, 128, 255, .7);
      }

      &[data-state="2"] {
        background: linear-gradient(-45deg, rgba(255, 128, 255, .7) 50%, rgba(128, 255, 128, .7) 51%);
      }

      &[data-state="3"] {
        background: rgba(128, 255, 128, .7);
      }

      &[data-state="4"] {
        background: linear-gradient(-45deg, rgba(128, 255, 128, .7) 50%, rgba(255, 128, 255, .7) 51%);
      }

      span {
        opacity: .85;
      }

      a {
        font-weight: 700;
        text-decoration: underline;
        opacity: 1;
      }
    }

    &.--small {
      min-height: 18rem;

      th, td {
        width: 60px;
        height: 45px;

        &:first-child {
          color: red;
        }
    
        &:last-child {
          color: blue;
        }
      }
    }

    &.--large {
      width: 72rem;
      @include smallText();

      th, td {
        width: 30px;
        height: 30px;

        &:first-child {
          width: 12rem;
        }

        &.--sun {
          color: red;
        }

        &.--sat {
          color: blue;
        }
      }
    }
  }
}

.report {
  width: 100%;
  min-height: 30rem;

  &.--loading {
    text-align: center;
    animation: blink 1s ease-in-out infinite alternate;
  }

  &__item {
    padding: 0 1.5rem;
    border: 4px solid themeColor('light');
    border-radius: 1.5rem;
    background: rgba(255, 255, 255, .5);
  }

  &__info {
    width: 100%;
    margin: 1.5rem 0;

    caption {
      font-weight: 700;
      text-align: left;
      @include smallText();
    }

    tr:nth-of-type(odd) {
      background: rgba(themeColor('darker'), .15);
    }

    th {
      width: 9rem;
      padding-left: 1.5rem;
    }

    th, td {
      @include smallText();
    }
  }

  &__activity {
    width: 100%;
    margin: 1.5rem 0;

    caption {
      font-weight: 700;
      text-align: left;
      @include smallText();
    }

    th {
      width: 12rem;
      padding-left: 1.5rem;
    }

    th, td {
      @include smallText();
    }
  }

  &__note {
    list-style: square;
    padding-left: 1.5rem;
    @include smallText();

    li {
      margin: 0;
    }
  }
}

.page {
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 18px);
    height: 6rem;
    background: linear-gradient(-45deg, themeColor("primary-light"), themeColor("lightest"), themeColor("primary-light"));
  }

  &__container {
    @include container();
  }

  &__backBtn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &__iframe {
    width: 100%;
    height: 100%;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
