// Color System

// 任意の基準色を設定し、配色を決定する
$primaryColor:     hsl(195, 100%, 42%);
$themeColors:      (
  primary-light:     lighten($primaryColor, 33%),
  primary:           $primaryColor,
  primary-dark:      darken($primaryColor, 17%),
  secondary:         adjust-hue($primaryColor, -105deg),
  secondary-dark:    darken( adjust-hue($primaryColor, -105deg), 17%),
  tertiary:          adjust-hue($primaryColor, -180deg),
  tertiary-dark:     darken( adjust-hue($primaryColor, -180deg), 17%),
  lightest:          hsl(0, 0%, 100%),
  lighter:           hsl(0, 0%, 85%),
  light:             hsl(0, 0%, 70%),
  dark:              hsl(0, 0%, 50%),
  darker:            hsl(0, 0%, 30%),
  darkest:           hsl(0, 0%, 15%)
);

// 配色の配列から色指定を抽出する関数
@function themeColor($key: "primary") {
  @return map-get($themeColors, $key);
}

// 背景色から適切な文字色を判定する関数
// 参考(https://en.wikipedia.org/wiki/YIQ)
@function colorYiq($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);
  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;
  @if ($yiq < 150) {
    @return themeColor("lightest");
  } @else {
    @return themeColor("darkest");
  }
}

// キー指定の背景色から適切な文字色を判定する関数
@function colorYiqByKey($key) {
  $color: themeColor(($key));
  $r: red($color);
  $g: green($color);
  $b: blue($color);
  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;
  @if ($yiq < 150) {
    @return themeColor("lightest");
  } @else {
    @return themeColor("darkest");
  }
}

// bodyの設定
$bodyBg:           themeColor('lightest');
$bodyColor:        themeColor('darkest');

// リンク文字の設定
// リンクを強調するため、_typography.scssにて、文字の装飾も設定すること
$linkColor:        themeColor('darker');
$linkHoverColor:   originalColor("primary");
